html {
    background: -moz-linear-gradient(-90deg, #FFFFFF, #DADADA) repeat fixed 0 0 transparent;
}
body {
    color: #959595;
    font: 14px/1.4 "helvetica neue",helvetica,arial,sans-serif;
    padding: 120px 150px;
}
h1, h2, h3 {
    color: #222222;
}
h1 a, h2 a, h3 a {
    color: #222222;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0 15px;
}
h2 {
    font-size: 18px;
    margin: 0;
}
h3 {
    font-size: 14px;
}
a {
    color: #B90101;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
strong {
    color: #AA0000;
}
ul {
    margin: 0;
    padding: 0 25px;
}
ul li {
    list-style: square outside none;
}
.tagline {
    margin: 0;
    padding: 0;
}
.tagline em {
    font-style: normal;
}
.tagline em.user-name {
    color: #222222;
}
.tagline em.start-time {
    color: #BBBBBB;
}
#container {
    text-align: center;
}
#container #content {
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
    width: 320px;
}
#menu {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 4px rgba(34, 34, 34, 0.1) inset;
    margin: 0;
    padding: 15px 0 10px 5px;
    position: fixed;
    right: 60px;
    text-align: left;
    top: -5px;
}
#menu li {
    list-style: none outside none;
}
#menu li a {
    color: #7B7B7B;
    display: block;
    font-size: 13px;
    padding: 1px 10px;
    width: 150px;
}
#menu li a:hover {
    color: #000000;
    text-decoration: none;
}
.example {
    margin-top: 25px;
}
pre {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -1px -1px rgba(34, 34, 34, 0.1);
    color: #8D8D8D;
    font: 12px/1.4 monaco,"helvetica neue",helvetica;
    overflow-x: auto;
    padding: 30px;
    width: 320px;
}
pre.terminal {
    background: none repeat scroll 0 0 #2B2B2B;
    box-shadow: -1px -1px #FFFFFF;
    color: #DADADA;
    padding: 10px;
    width: 360px;
}
p code {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: -1px -1px rgba(34, 34, 34, 0.1);
    color: #959595;
    font-size: 85%;
    padding: 2px 4px;
}
#cfddream {
    -moz-transform: rotate(-45deg);
    background-color: #888888;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    left: -3.75em;
    overflow: hidden;
    padding: 1px 0;
    position: absolute;
    top: 2.5em;
}
#cfddream a {
    border: 1px solid #FFFFFF;
    color: #000000;
    display: block;
    margin: 0.05em 0;
    padding: 0.5em 3.5em;
    text-align: center;
    text-decoration: none;
}
