body
  padding: 50px
  font: normal 18px/25px Palatino, 'Palatino Linotype', serif
  //font: normal 100%/1.4 'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', 'Helvetica Neue', Helvetica, sans-serif

a
  color: #00B7FF
